---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
---

<Layout>

    <body>

    <!-- ------ ------ ------ Hero Section Div Start ------ ------ ------ -->

        <div id="hero-section" class="container flex flex-col flex-wrap items-center justify-center mt-24">
            <img src="/heroimg.svg" alt="hero" class="w-96">
            <h1 class="font-sans font-extrabold text-5xl text-primary pb-10 text-center px-20">FIND YOUR MATCH - THE HALAL WAY!</h1>
            <p class="font-sans font-light text-2xl text-primary text-wrap text-center max-w-7xl px-20">
                We’re here to help you find the partner you’ve been praying for—a companion to complete half your faith and share a 
                lifetime of love, trust, and purpose. Begin your journey with us today, where meaningful connections are built on 
                shared values, sincerity, and hope for the future.
            </p>

            <div class="btns p-10 flex gap-20">
                <button class="button border-2 rounded-full border-primary px-6 py-2 text-lg text-primary font-bold">WALI DASHBOARD</button>
                <button class="button border rounded-full border-secondary px-6 py-2 text-lg text-secondary bg-gradient-to-b from-gradient-start to-gradient-end font-bold">GET STARTED</button>
                
            </div>
        </div>

    <!-- ------ ------ ------ Hero Section Div End ------ ------ ------ -->

        <h2 class="text-4xl font-bold text-primary text-center mt-16">OUR SERVICES</h2>

    <!-- ------ ------ ------ Services Section Div Start ------ ------ ------ -->

        <div id="sub-services" class="container flex justify-center flex-wrap items-center gap-20 mt-12 p-12">

            <!-- AI CARD -->
            <div id="sub-service-card" class="flex flex-col items-center justify-center w-96">
                <img src="/ai-services-sec.svg" alt="services" class="w-28 h-28">
                <p class="text-lg font-normal text-primary mt-16 max-w-72 text-wrap text-center">
                    AI-Driven word filtering that helps prevent unethical language, harassment, and other social issues.
                </p>
            </div>

            <!-- RING CARD -->
            <div id="sub-service-card" class="flex flex-col items-center justify-center w-96">
                <img src="/ring-services-section.svg" alt="services" class="w-28 h-28">
                <p class="text-lg font-normal text-primary mt-16 max-w-72 text-wrap text-center">
                    Custom matchmaking tailored to your spouse preferences through a personalized questionnaire.
                </p>
            </div>

            <!-- ROBOTFACE CARD -->
            <div id="sub-service-card" class="flex flex-col items-center justify-center w-96">
                <img src="/robotface-services-section.svg" alt="services" class="w-28 h-28">
                <p class="text-lg font-normal text-primary mt-16 max-w-72 text-wrap text-center">
                    AI-Driven word filtering that helps prevent unethical language, harassment, and other social issues.
                </p>
            </div>


            <!-- QURAN CARD -->
            <div id="sub-service-card" class="flex flex-col items-center justify-center w-96">
                <img src="/quran-services-section.svg" alt="services" class="w-28 h-28">
                <p class="text-lg font-normal text-primary mt-16 max-w-72 text-wrap text-center">
                    Provides access to articles and video guides based on the Quran and Sunnah.
                </p>
            </div>

            <!-- SECURITY CARD -->
            <div id="sub-service-card" class="flex flex-col items-center justify-center w-96">
                <img src="/security-services-section.svg" alt="services" class="w-28 h-28">
                <p class="text-lg font-normal text-primary mt-16 max-w-72 text-wrap text-center">
                    Ensures privacy by blurring images and limiting chat with access only unlocked upon wali approval.
                </p>
            </div>

            <!-- CHAT CARD -->
            <div id="sub-service-card" class="flex flex-col items-center justify-center w-96">
                <img src="/chat-services-section.svg" alt="services" class="w-28 h-28">
                <p class="text-lg font-normal text-primary mt-16 max-w-72 text-wrap text-center">
                    Implements a limited chat feature to ensure conversations align with community values.
                </p>
            </div>

        </div>  

    <!-- ------ ------ ------ Services Section Div End ------ ------ ------ -->

    <h2 class="text-4xl font-bold text-primary text-center mt-16">ABOUT NIKAHLY</h2>

    <!-- ------ ------ ------ About Section Div Start ------ ------ ------ -->

    <div id="about-section" class="container bg-gradient-to-b from-gradient-start to-gradient-end p-12 mt-12 border rounded-3xl flex content-between">
        <div id="paras" class="text-secondary flex flex-col items-center justify-center gap-20">
            <p class="text-2xl font-light text-wrap text-center p-5">
                The word <span class="font-bold">“Nikah (نكاح)”</span> refers to marriage or wedlock in English. The addition of <span class="font-bold">“ly (لي)”</span> is an Arabic 
                pronoun which means for me or mine in English. The word Nikahly is a combination of the word <span class="font-bold">“Nikah”</span> and  
                suffix <span class="font-bold">“ly”</span>.  The complete meaning of the word would be <span class="font-bold">“Marriage for me”</span>.
            </p>

            <p class="text-2xl font-light text-wrap text-center p-5">
                <span class="font-bold">Nikahly</span> offers sincere and practicing Muslims a <span class="font-bold">halal</span> and faith-centered approach to marriage. The platform 
                provides a trusted space, follows <span class="font-bold">Shari’ah rulings</span> and cultural sensitivities to help find potential like-minded,
                <span class="font-bold">compatible partners</span>.
            </p>
        </div>

        <img src="/about-couple.svg" alt="couple">

    </div>

    <!-- ------ ------ ------ About Section Div End ------ ------ ------ -->

    <h2 class="text-4xl font-bold text-primary text-center mt-16">PLANS AND PRICING</h2>



        
    </body>
</Layout>