---
import { SignIn } from "@clerk/astro/components";
import "../styles/global.css";
import "@fontsource/kulim-park";
import "@fontsource/poppins";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <div class="container">
      <div class="min-h-screen flex flex-col">
        {/* Login Form */}
        <div class="flex-1 flex items-center justify-center">
          <SignIn
            signUpUrl="/signup"
            appearance={{
              layout: {
                logoImageUrl: "/redLogo.svg",
                socialButtonsPlacement: "bottom",
                shimmer: true,
              },
              elements: {
                rootBox: {
                  maxWidth: "60rem",
                },
                cardBox: {
                  maxWidth: "60rem",
                },
                card: {
                  maxWidth: "60rem",
                },
                formButtonPrimary: {
                  backgroundColor: "#c7413e",
                },
              },
            }}
          />
        </div>
      </div>
    </div>
  </body>
</html>
