---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import "@fontsource/kulim-park";
import "@fontsource/poppins";   
---

<Layout>

    <div class="container mt-20 flex flex-col gap-2">

        <div class="flex justify-center items-center text-center lg:text-left lg:justify-between">
            <h2 class="text-2xl md:text-4xl text-primary lg:pt-28">
            Profile Details
            </h2>

            <img src="/pfp-avatar.svg" alt="pfpdetails" class="h-full w-40 rounded-full hidden lg:block">
        </div>
        
    </div>

    <div class="bg-accent rounded-xl p-5 container">
        
    </div>

    
    
</Layout>