---
import "../styles/global.css";
import { SignUp } from "@clerk/astro/components";
import '@fontsource/kulim-park';
import '@fontsource/poppins';
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup</title>
</head>
<body>
<div class="min-h-screen flex flex-col container">
  {/* Signup Form */}
  <div class="flex-1 flex items-center justify-center">
    <SignUp
    signInUrl="/login"
    forceRedirectUrl="/onboardoath"
      appearance={{
        layout: {
          logoImageUrl: "/redLogo.svg",
          socialButtonsPlacement: "bottom",
        },
        elements: {
          formFieldHintText__lastName: {
            display: "none", 
          },
          formFieldHintText__firstName: {
            display: "none", 
          },
          rootBox: {
            width: "60rem",
            maxWidth: "60rem",
            marginBottom: "2rem",
          },
          cardBox: {
            width: "60rem",
            maxWidth: "60rem",
            marginBottom: "2rem",
          },
          card: {
            width: "60rem",
            maxWidth: "60rem",
          },
          formButtonPrimary: {
            backgroundColor: "#c7413e",
          },
        },
      }}
    />
  </div>
</div>
</body>
</html>